<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola, desde la plantilla.</h1>
    {% if nombrePersona == 'Profesor Juan' %}
        <p>El curso lo imparte el profesor titular</p>
    {% else %}
        <p>El curso lo imparte el profesor suplente</p>
    {% endif %}

    <p>El nombre del profesor es: {{nombrePersona|lower}} {{apellidoPersona.upper}}</p>
    <p>Estamos viendo el tema de las plantillas a día: {{momentoActual.month}} / {{momentoActual.day}} / {{momentoActual.year}}</p>
    <p><strong>Temas del curso:</strong></p>
    <!--<p>{{temas.1}}</p>-->
    <p>
        <ul>
            {% if temas %}
                {% for elTema in temas %}
                    <li>{{elTema|first|lower}}</li>
                {% endfor %}
            {% else %}
                <p>No hay elementos que mostrar</p>
            {% endif %}
        </ul>
    </p>
</body>
</html>